.navibar {
  height: 65px;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  transition: all 0.5s;
}

.navibar-onscroll {
  height: 50px;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  opacity: 0.6;
  transition: all 0.5s;
}

.navi-links{
  height: 100%;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

.link, .link:visited {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 33%;
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}

.link:hover {
  background-color: skyblue;
  color: black;
}

.link-label {
  margin-top: 10%;
}

