.header {
  background-color: black;
}

.my-name {
  width: 100%;
  text-align: center;
  font-family: "Marck Script", cursive;
  font-size: 75px;
  color: white;
  padding-top: 1%;
  margin-bottom: 15px;
}
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

.caption {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-bottom: 1%;
  font-family: "Cinzel", serif;
}
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Marck+Script&display=swap");
