.content {
  overflow: hidden;
  max-width: 420px;
  margin: 10px;
}

.slider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 350px;
  width: 400px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:hover {
  height: 360px;
  margin-top: 0px;
}

.selector {
  text-align: center;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 35px;
  border-radius: 10%;
  margin: 15px 7px;
  background-color: lightgrey;
}

.dot.active {
  background-color: plum;
}
