html {
  scroll-behavior: smooth;
}

.main {
  background: rgba(0, 0, 0, 0.3)
    url("https://images.pexels.com/photos/208745/pexels-photo-208745.jpeg")
    no-repeat center;
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.my-name {
  height: 50vh;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  content: url("./Assets/Pictures/signature_logo.png");
}
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

.about {
  height: 100vh;
  background-color: #76b6c4;
  color: white;
  text-align: center;
  text-size-adjust: 20vh;
}

.java-section {
  height: 100vh;
  background-image: linear-gradient(90deg, #46afc7 50%, white 50%);
  display: flex;
  justify-content: space-between;
}

.js-section {
  height: 100vh;
  background-image: linear-gradient(90deg, white 50%, #46afc7 50%);
}

.project-overviews {
  padding-top: 50vh;
  opacity: 0;
  margin-top: 10%;
  text-align: center;
  width: 40%;
  display: inline-block;
  color:white;
  transition: all 0.5s;
}

.project-overviews.active {
  opacity: 1;
  padding-top: 0vh;
}

.image-container {
  padding-top: 50vh;
  opacity: 0;
  margin-top: 10%;
  max-width: fit-content;
  display: inline-block;
  transition: all 0.5s;
}

.image-container.active {
  padding-top: 0vh;
  opacity: 1;
}

.android-code-img {
  position: relative;
  z-index: 0;
  right: -10vw;
  width: 30vw;
  content: url("./Assets/Pictures/android_code.png");
}

.android-ex1 {
  position: relative;
  height: 50vh;
  top: -5vh;
  z-index: 1;
  content: url("./Assets/Pictures/android-ex1.png");
}

.android-ex2 {
  position: relative;
  height: 50vh;
  bottom: -5vh;
  left: -2vw;
  z-index: 2;
  content: url("./Assets/Pictures/android-ex2.png");
}