html {
  scroll-behavior: smooth;
}

.main {
  background: rgba(0, 0, 0, 0.3)
    url("https://images.pexels.com/photos/208745/pexels-photo-208745.jpeg")
    no-repeat center;
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.my-name {
  height: 50vh;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  content: url("./pic/signature_logo.png");
}
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

.about {
  height: 100vh;
  background-color: #76b6c4;
  color: white;
  text-align: center;
  text-size-adjust: 20vh;
}

.projects {
  background-color: #3178b3;
}